* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 238, 252);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

img {
    width: 40vw;
    height: 50vh;
    max-width: 500px;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.formulario {
    //border: solid;
    width: 40vw;
    height: 50vh;
    background-color: white;
    max-width: 500px;
    padding: 3rem;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    align-content: center;

    h1 {
        color: #002855;
        font-family: "Funnel Display", sans-serif;
    }

    p {
        margin-top: 1rem ;
        font-family: "Funnel Display", sans-serif;
    }

    label {
        margin-top: 1rem;
    }

    form {
        //border: solid;
        display: flex;
        flex-direction: column;
        font-family: "Funnel Display", sans-serif;
    }

    input {
        padding: 0.7rem;
        border: solid rgb(122, 120, 120) 1px ;
        border-radius: 5px;
        outline: none;
    }

    button {
        margin-top: 1rem;
        background-color: #001845;
        color: aliceblue;
        padding: 0.7rem;
        border: none;
        border-radius:5px ;
        transition: all 0.5s ease;
        font-family: "Funnel Display", sans-serif;

        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: #003674;
        }
    }
}

// Responsividade 
// @media

@media (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    img {
        display: none;
    }

    main {
        display: flex;
        
    }

    .formulario {
    //border: solid;
        width: 65vw;
        height: 70vh;
        background-color: white;
        max-width: 500px;
        padding: 2rem;
        border-radius: 2vh;
        align-content: center;
    }
}